/**COLORES**/
/* ENCABEZADO */
/* SECCION INICIO */
@keyframes indextitle3 {
  from {
    width: 100%; }
  to {
    width: 0; } }

@keyframes move-chevron {
  25% {
    opacity: 1; }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem); }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem); }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5); } }

/* SECCION Our Professionals */
/* SECCION CLIENTES */
/*SECCION CONOCENOS*/
/* Seccion de Contacto*/
/* FORMULARIO CONTACTO */
/*SECCIONES DE SOLUCIONES*/
/*WEB DEV*/
/*SECCION CIBERSEGURIDAD*/
/*SECCION UX UI*/
/* FOOTER */
/* MOBILE FIRST */
/* UXUIDESING */
/* WEBDEV */
/* CIBERSEGURIDAD */
/*FOOTER*/
html {
  scroll-behavior: smooth; }

* {
  margin: 0em;
  padding: 0em; }

body {
  background: linear-gradient(45deg, #80FFDB 54%, #5390D9 46%);
  font-family: sans-serif Georgia, 'Times New Roman', Times, serif; }

.bg-light {
  background-color: #000 !important; }

.nav-item dropdown {
  color: blanchedalmond; }

.dropdown-menu {
  background-color: blanchedalmond !important;
  background-color: #000 !important; }

nav a {
  color: blanchedalmond !important; }

.index__title1 {
  font-size: 13em; }

.index__title2 {
  padding: 1.5em;
  font-size: 3em;
  margin: 0%; }

.index__title3 {
  background-color: #5390D9;
  position: relative;
  color: #fff; }
  .index__title3:after {
    content: "";
    border-left: 0px solid black;
    background: #5390D9;
    right: 0;
    height: 100%;
    position: absolute;
    animation: indextitle3 2s infinite alternate steps(18); }

.index2 p {
  display: flex;
  text-align: center;
  padding: 1.5em;
  font-size: 2.5em; }

.index3 {
  text-align: center; }

.index3__titile {
  text-align: center; }
  .index3__titile a {
    text-decoration: none;
    text-align: center;
    color: #fff; }

.containerr {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; }

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 2s ease-out infinite; }
  .chevron:first-child {
    animation: move-chevron 2s ease-out 1s infinite; }
  .chevron:nth-child(2) {
    animation: move-chevron 2s ease-out 2s infinite; }
  .chevron:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
    left: 0;
    transform: skewY(30deg); }
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
    right: 0;
    width: 50%;
    transform: skewY(-30deg); }

.card__imagehome {
  height: 700px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0; }

.card__h1 {
  background-image: url(../imagenes/webdevcar.jpg); }

.card__h2 {
  background-image: url(../imagenes/uxuicar.jpg); }

.card__h3 {
  background-image: url(../imagenes/ciberseguridad4.jpg); }

.arriba {
  display: flex;
  justify-content: center; }
  .arriba i {
    color: white; }
    .arriba i:hover {
      color: #000;
      cursor: pointer;
      transform: scale(1.03);
      transition: all 1s ease; }

.wtitle1 {
  text-align: center;
  padding-top: 2em; }

.wtitle2 {
  text-align: center;
  padding-top: 2em; }

.wcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card {
  background: white;
  width: 270px;
  height: 550px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 3px 3px 12px #fff; }
  .card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .card:hover {
    background-color: #3e3e3e;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease; }
  .card h2 {
    text-align: center; }
  .card h5 {
    text-align: center; }
  .card p {
    margin-left: 1em; }

.card__image {
  height: 700px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0; }

.card__1 {
  background-image: url(../imagenes/worker1.jpg); }

.card__2 {
  background-image: url(../imagenes/worker2.jpg); }

.card__3 {
  background-image: url(../imagenes/worker3.jpg); }

.card__4 {
  background-image: url(../imagenes/worker4.jpg); }

.card__5 {
  background-image: url(../imagenes/worker5.jpg); }

.card__6 {
  background-image: url(../imagenes/worker6.jpg); }

.card__7 {
  background-image: url(../imagenes/worker7.jpg); }

.card__8 {
  background-image: url(../imagenes/worker8.jpg); }

.card__9 {
  background-image: url(../imagenes/worker9.jpg); }

.container3__title {
  text-align: center;
  border: double 3px #83b3d3;
  background-color: #333;
  color: #aec7ec; }

.container3 {
  display: block;
  margin: auto; }

.container4 {
  margin: 1em;
  background-color: #fff;
  box-shadow: 10px 5px 5px black; }
  .container4 p {
    margin-left: 1em; }

.container4__title {
  text-align: center;
  color: #fff;
  border: solid 3px;
  background-color: #000; }

.image12 {
  width: 100%;
  height: 80%; }

.iconosc ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 2em;
  justify-content: space-around;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 2em; }

.parteizquierda {
  background-color: #000;
  height: 105vh;
  width: 50%;
  padding: 1rem; }
  .parteizquierda h2 {
    color: #fff;
    margin-top: 1em; }

.partederecha {
  background-image: url(../imagenes/contactofondo.jpeg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 105vh;
  padding: 1rem; }

.pantalla-dividida {
  display: flex; }

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #80FFDB;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #008a93; }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

.container5 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 1em; }
  .container5 i {
    color: #000;
    padding-bottom: 10px; }

.tituloscontacto {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: blanchedalmond solid 3px; }

.formulario {
  border-radius: 5em;
  color: #fff; }

.formulario__title h2 {
  text-align: center;
  margin-top: 1em; }

.formulario__title p {
  margin-top: 2em;
  margin-left: 1em; }

.webdevright {
  background-color: #000;
  height: 105vh;
  width: 50%;
  color: #fff;
  border: solid 2px #fff; }

.webdevimg {
  background-image: url(/imagenes/cssweb.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 105vh;
  padding: 1rem;
  border: solid 2px #fff; }

.webtitle1 {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: blanchedalmond solid 3px; }

.webdevright__title {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em; }

.cibers {
  display: flex;
  background: #5390d9;
  background: linear-gradient(0deg, #5390d9 0%, black 48%);
  color: #fff; }
  .cibers p {
    margin: 5px; }

.cibers__title {
  text-align: center;
  padding-top: 2em; }

.cibers__title1 {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: blanchedalmond solid 3px; }

.segserv1 {
  display: flex;
  background-color: #fff;
  box-shadow: 10px 5px 5px black;
  margin: 1em; }

.segserv2 {
  display: flex;
  background-color: #000;
  box-shadow: 10px 5px 5px #fff;
  color: #fff;
  margin: 1em; }

.segserv3 {
  display: flex;
  background-color: #fff;
  box-shadow: 10px 5px 5px black;
  margin: 1em; }

.segserv4 {
  display: flex;
  background-color: #000;
  box-shadow: 10px 5px 5px #fff;
  color: #fff;
  margin: 1em; }

.buttonsec {
  padding: 4px;
  margin-top: 10px;
  background-color: #5390D9; }
  .buttonsec a {
    text-decoration: none;
    color: #fff;
    font-size: 1em; }
    .buttonsec a:hover {
      color: #000; }
  .buttonsec:hover {
    background-color: #80FFDB;
    cursor: pointer;
    transform: scale(1.03); }

#pantalla-divididauxui {
  display: flex;
  flex-direction: row; }

.uxuiright {
  background-color: #000;
  width: 50%;
  padding: 1rem;
  color: #fff;
  border: solid 2px #fff; }

.uxuileft {
  background-image: url(/imagenes/uxuisec.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  padding: 1rem;
  border: solid 2px #fff; }

.uxuititle {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: blanchedalmond solid 3px; }

.uxuisec {
  display: flex;
  background-color: #000;
  box-shadow: 10px 5px 5px #fff;
  color: #fff;
  margin: 1em; }

.uxuisec1 {
  display: flex;
  background-color: #fff;
  box-shadow: 10px 5px 5px #000;
  color: #000;
  margin: 1em; }

footer {
  position: relative;
  width: auto;
  height: auto;
  padding: 50px 100px;
  background-color: #008a93; }
  footer h2 {
    position: relative;
    margin-bottom: 15px; }
    footer h2::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0%;
      width: 50%;
      height: 2px;
      background-color: #83b3d3; }

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px; }

.fredes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  column-gap: 10px; }
  .fredes li {
    list-style: none; }
    .fredes li a {
      display: inline-block;
      width: 48px;
      height: 48px;
      display: grid;
      align-content: center;
      justify-content: center;
      text-decoration: none;
      border-radius: 4px; }
      .fredes li a:hover {
        background: blanchedalmond; }
      .fredes li a .fa {
        color: black;
        font-size: 20px; }

.faccesos {
  position: relative; }
  .faccesos li {
    list-style: none;
    margin-bottom: 10px;
    text-decoration: none; }
    .faccesos li:hover {
      color: blanchedalmond; }
  .faccesos a {
    text-decoration: none;
    color: black; }
    .faccesos a:hover {
      color: blanchedalmond; }

.info {
  position: relative; }
  .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px; }
  .info a {
    text-decoration: none;
    color: black; }
    .info a:hover {
      color: blanchedalmond; }

.copyrightText {
  background-color: #000;
  text-align: center;
  color: #2f4f4f;
  padding: 5px; }

@media (max-width: 320px) {
  .index__title1 {
    font-size: 8em; }
  .index2 p {
    font-size: 1em; }
  .footer {
    background-color: #008a93;
    width: auto;
    position: relative;
    height: auto;
    padding: 50px 100px;
    margin: 0%;
    padding: 0%;
    grid-template-columns: repeat(1, 1fr); }
  .copyrightText {
    padding: 8px 40px; }
  body {
    font-size: 5vw; }
  .container1 {
    width: auto; }
  .pantalla-dividida {
    display: flex;
    flex-direction: column; }
  .parteizquierda {
    width: 100%; }
  .partederecha {
    width: 100%; }
  .uxuileft {
    width: 100%; }
  .uxuiright {
    width: 100%; }
  #pantalla-divididauxui {
    flex-direction: column; }
  .webdevright {
    width: 100%; }
  .webdevimg {
    width: 100%; }
  .cibers {
    flex-direction: column;
    margin: 0; }
  .segserv1 {
    flex-direction: column; }
  .segserv2 {
    flex-direction: column; }
  .segserv3 {
    flex-direction: column; }
  .segserv4 {
    flex-direction: column; }
  .imgseg {
    display: none; } }

@media (max-width: 768px) {
  .cibers {
    flex-direction: column;
    justify-content: center; }
  .segserv1 {
    flex-direction: column;
    justify-content: center; }
  .segserv2 {
    flex-direction: column; }
  .segserv3 {
    flex-direction: column; }
  .segserv4 {
    flex-direction: column; }
  .imgseg {
    display: flex;
    justify-content: center; }
  .footer {
    background-color: #008a93;
    width: auto;
    position: relative;
    height: auto;
    margin: 0%;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr); } }
